@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #66bb6a, #26a69a); 
    color: #ffffff; 
}

